<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=The+Nautigal&display=swap" rel="stylesheet">

    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="topbox">
        <img id="logo" src="backgrounds and logo/dlogo.png" alt="#">
        <img id="title" src="backgrounds and logo/title.png" alt="">
        <ul class="navbar">
            <li class="navitem"><a href="index.html">HOME</a></li>
            <li class="navitem"><a href="about.html">ABOUT US</a></li>
            <li class="navitem"><a href="Artists.html">ARTISTS</a></li>
            <li class="navitem"><a href="search.html">SEARCH</a></li>
            <li class="navitem"><a href="spotlight.html">SPOTLIGHT</a></li>
            <li class="navitem"><a href="playlist.html">PLAYLIST</a></li>
        </ul>
    </div>
    <div class="page">
        <div class="albumtitle">
            <p>ONE<br>(Original Never <br> Ends)</p>
            <p id="sectitle">ALBUM BY BADSHAH</p>
        </div>
        <div class="songbox">
            <div class="song">
                <img src="badshah/djwaleybabu.jpeg" alt="">
                <div class="songtitle">
                    <p class="songname">Dj Waley Babu<button class="playbut">Add to playlist</button></p>
                    <p class="time">2:49</p>
                </div>
            </div>
            <div class="song">
                <img src="badshah/rightupthere.jpg" alt="">
                <div class="songtitle">
                    <p class="songname">Right Up There<button class="playbut">Add to playlist</button></p>
                    <p class="time">5:00</p>
                </div>
            </div>
            <div class="song">
                <img src="badshah/nolimit.jpg" alt="">
                <div class="songtitle">
                    <p class="songname">No Limit<button class="playbut">Add to playlist</button></p>
                    <p class="time">3:41</p>
                </div>
            </div>
            <div class="song">
                <img src="badshah/heartless.jpg" alt="">
                <div class="songtitle">
                    <p class="songname">Heartless<button class="playbut">Add to playlist</button></p>
                    <p class="time">3:30</p>
                </div>
            </div>
            <div class="song">
                <img src="badshah/shemoveitlike.jpeg" alt="">
                <div class="songtitle">
                    <p class="songname">She Move It Like<button class="playbut">Add to playlist</button></p>
                    <p class="time">3:02</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="f">
            <p class="f1">Company</p>
            <p><a href="about.html">About us</a></p>
        </div>
        <div class="line"></div>
        <div class="f">
            <p class="f1">Communities</p>
            <p>For artists</p>
            <p>For listeners</p>
        </div>
        <div class="line"></div>
        <div class="f">
            <p class="f1">Social Media</p>
            <img src="backgrounds and logo/facebookicon.png" alt="">
            <img src="backgrounds and logo/instaicon.png" alt="">
            <img src="backgrounds and logo/twittericon.png" alt="">
        </div>
        <div class="line"></div>
        <div class="f">
            <p class="f1">
                Copyrights
            </p>
            <p>&copy; 2023 Dhvanimusic.com</p>
            <p>&nbsp;&nbsp;All rights reserved.</p>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>